<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 login-content"> 
      <div class="row" style="height: 100%;">
        <div class="panel panel-info" style="height: 100%;" >
          <div class="panel-heading">
            <div class="panel-title">Bookmyshow</div>
          </div>
          <div class="panel-body loginform">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= devise_error_messages!.html_safe %>

              <div class="input-group login-main-content">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, :class => "form-control" %>
              </div>

              <div class="input-group login-main-content">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off", :class => "form-control"  %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="input-group login-main-content">
                  <%= f.label :remember_me %>
                  <div class="material-switch pull-right">
                    <%= f.check_box :remember_me, :id => "someSwitchOptionSuccess"%>
                    <label for="someSwitchOptionSuccess" class="label-success"></label>
                  </div>
                </div>

              <% end -%>

              <div class="input-group login-main-content-center">
                <%= f.submit "Log in",:class => "btn btn-create" %>
              </div>

              <div class="input-group login-main-content-center">
                <%= link_to "Create Account", new_user_registration_path, :class => 'login-link'  %>
              </div>

              <div class="input-group login-main-content-center">
                <%= link_to "Forgot Password?", new_password_path(resource_name), :class => "login-link"%>
              </div>

            <% end %>
          </div>                     
        </div>
      </div>                  
    </div>
    <div class="col-md-9">
    </div>  
  </div>
</div>
